// variables
$base-font: 'Open Sans', sans-serif;
$form-input-border: #e1e6eb;
$form-label: #21282e;
$footer-bg: #e1e6eb;
$link-color: #e66022;
$primary-btn: #e66022;
$primary-btn-active: #41617d;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import "mixins";
@import "forms";
@import "page";
