.page-heading {
  font-size: 30px;
  font-weight: normal;
  margin: 45px 0 25px;
  text-align: center;
}

form, #success-container {
  max-width: 595px;
  margin: 0 auto;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 15px;
}

.input-text {
  border: 1px solid $form-input-border;
  border-radius: 3px;
  font-size: 14px;
  padding: 13px;
  @include transition(border);
  &:hover, &:focus {
    border-color: #41617d;
  }
}

.full {
  margin-bottom: 15px;
  padding: 0 10px;
  width: 100%;
}

.half {
  float: left;
  margin-bottom: 15px;
  padding: 0 10px;
  width: 50%;
}

.input-full {
  margin-bottom: 15px;
  width: 100%;
}

.primary-btn {
    background: $primary-btn;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    margin: 0 10px 15px 0px;
    padding: 13px;
    @include transition(background);
    &:hover, &:focus {
      background: $primary-btn-active;
    }
}

.navigate-btn {
  margin-top: 40px;
}

.submit-btn {
  float: left;
  min-width: 150px;
}

.header-btn {
  margin: 10px 35px 10px 20px;
}

.divider {
  border: 1px solid #e1e6eb;
  border-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 35px;
}

.disclaimer {
  margin: 0px;
}

@media (max-width: 768px) {
  .content {
    padding: 0 10px;
  }

  label {
    margin-bottom: 5px;
  }
  .half {
    width: 100%;
  }
  .half, .full, .input-full {
    margin-bottom: 10px;
  }
  .submit-btn {
    width: 100%;
  }
}
