.text-center {
  text-align: center;
}

.right {
  float: right;
}

.full {
  margin-bottom: 15px;
  padding: 0 10px;
  width: 100%;
}

.half {
  float: left;
  margin-bottom: 15px;
  padding: 0 10px;
  width: 50%;
}

.clear-bottom {
  margin-bottom: 0px;
}
