*, *:before, *:after {
    box-sizing: border-box;
}

html {
  font-family: $base-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: #f0f2f5;
  margin: 0px;
}
.mobile-menu {
  background: url("../img/menu.png") no-repeat;
  background-position: 2px 3px;
  display: none;
  float:right;
  margin-right: 20px;
  margin-top: 16px;
  text-indent: -999em;
  width: 30px;
  height: 30px;
}

.logo {
  background: url("../img/logo.png") 0 50% no-repeat;
  background-size: 100%;
  display: inline-block;
  margin-right: 20px;
  margin-left: 35px;
  overflow: hidden;
  padding: 0px;
  text-indent: -999em;
  width: 90px;
  height: 59px;
}

.center {
  text-align: center;
}

.right {
  float: right!important;
}

.content {
  max-width: 770px;
  overflow: hidden;
  width: 100%;
  min-height: 670px;
  margin: 0 auto;
}
p {
  color: #697686;
  font-size: 18px;
  a {
    color: $link-color;
    font-weight: 700;
    text-decoration: none;
  }
}
footer {
  @extend %clear;
  background: $footer-bg;
  margin-top: 40px;
  overflow: hidden;
  ul {
    @extend %clear-list;
    @extend %inline-list ;
  }
}
nav {
  background: #21282e;
  .secondary-nav {
    padding-left: 0px;
    @extend %clear-list;
    position: absolute;
    right: 0;
  }
  .main-nav {
    @extend %clear-list;
    overflow: hidden;
    padding-left: 0px;
    display: inline-block;
    li {
      float: left;
      a {
        color: #97b1c5;
        display: block;
        font-size: 14px;
        padding: 20px 20px;
        text-decoration: none;
        @include transition(color);
        &:hover, &:focus {
          color: #fff;
        }
      }
    }
  }
}

.small-print {
  font-size: 12px;
}

.copyright {
  margin: 15px 0;
}

.connect {
  float: right;
  font-size: 14px;
  margin: 8px 0 5px;
  width: 255px;
  li {
    margin-right: 10px;
    &.label {
      margin: 6px 10px 6px 0;
    }
  }
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: -999em;
  border: 1px solid #000;
  border-radius: 3px;
  &.facebook {
    background: url('../img/social-sprite.png') 2px 1px no-repeat;
    border-color: #4465a0;
    @include transition(background);
    &:hover {
      background: url('../img/social-sprite-active.png') 2px 1px no-repeat #4465a0;
    }
  }
  &.twitter {
    background: url('../img/social-sprite.png') -21px 1px no-repeat;
    border-color: #20b6ed;
    @include transition(background);
    &:hover {
      background: url('../img/social-sprite-active.png') -21px 1px no-repeat #20b6ed;
    }
  }
  &.linkedin {
    background: url('../img/social-sprite.png') -46px 1px no-repeat;
    border-color: #1187bc;
    @include transition(background);
    &:hover {
      background: url('../img/social-sprite-active.png') -46px 1px no-repeat #1187bc;
    }
  }
}

@media (max-width: 1090px) {
  .mobile-menu {
    display: block;
  }
  nav .main-nav {
    display: none;
    position: absolute;
    left: 0;
    top: 64px;
    &.active {
      display: block;
    }
    &>li{
      background: #21282e;
      border-top: 1px solid #97b1c5;
      width: 50%;
      &:nth-child(odd){
        border-right: 1px solid #97b1c5;
      }
      &:last-child {
        width: 100%;
      }
    }
  }
  nav .secondary-nav {
    position: static;
    li {
      width: 50%;
      border-bottom: 1px solid #97b1c5;
      &:nth-child(odd){
        border-right: 1px solid #97b1c5;
      }
    }
  }
  .secondary-nav,
  .main-nav {
    width: 100%;
  }
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }
  .content {
    min-height: auto;
  }
  .connect {
    float: initial;
    margin: 8px auto 15px;
    overflow: hidden;
  }
  .logo {
    margin-left: 20px;
  }
  nav .main-nav {
    li:nth-child(odd) {
      border-right: 0px;
    }
    &>li{
      width: 100%;
    }
  }
  nav .secondary-nav {
    position: static;
    li {
      width: 100%;
      border-bottom: 1px solid #97b1c5;
    }
  }
}
